body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-image: linear-gradient(black, black); */
    background: hsla(192, 80%, 51%, 1);
    background: linear-gradient(90deg, hsla(192, 80%, 51%, 1) 0%, hsla(355, 85%, 63%, 1) 100%);
}

* {
    width: 100%;
}

.container-fluid {
    display: flex;
    background-color: 3C3737;
}


/* // for navbar // */

.navbar-header {
    font-size: 200%;
    margin-top: 10px;
}

.navbar-header p {
    text-decoration: none;
    background-color: none;
    color: #fff;
}

nav ul {
    color: rgb(235, 240, 245);
    list-style-type: none;
    float: right;
    margin-top: 20px;
    display: flex;
    padding-left: 620px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    background-color: none;
    color: #fff;
    font-size: large;
    display: flex;
    padding-left: 70%;
}

.navbar-side #hi:hover {
    text-decoration: none !important;
    background-color: none;
    color: floralwhite;
}

.navbar-side a {
    color: white !important;
    text-decoration: none !important;
}


/* //
content
// */

.content {
    width: 500px;
    height: 50%;
    margin-top: 5%;
    color: #fff;
    margin-left: 10px;
}

.content h1 {
    font-weight: bolder;
    font-size: 800;
    color: #fff;
    margin-left: 10%;
}

.content h2 {
    font-weight: bolder;
    font-size: 800;
    color: #fff;
    margin-left: 10%;
}


/* //
login
// */

.id-login {
    height: 300px;
    width: 400px;
    /* border: 2px solid white; */
    margin-top: -2%;
    margin-bottom: 20px;
    margin-left: 65%;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    background-color: whitesmoke;
}

.id-login #acc {
    width: 240px;
    height: 40px;
    border: 2px solid white;
    margin-top: 60px;
    margin-left: 80px;
    border-radius: 10px;
    color: #fff;
    /* background-color: rgb(60, 55, 55); */
    border-color: black;
}

.id-login #name {
    width: 240px;
    height: 40px;
    border: 2px solid white;
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 10px;
    color: #fff;
    /* background-color: rgb(60, 55, 55); */
    border-color: black;
}

.id-login #name::placeholder {
    color: black;
}

.submit {
    width: 240px;
    height: 40px;
    border: 2px solid white;
    margin-top: 24px;
    margin-left: 80px;
    border-radius: 10px;
    color: black;
    /* background-color: rgb(60, 55, 55); */
    border-color: black;
}

.submit:hover {
    background-color: black;
    color: whitesmoke;
}